@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$baseFontSize: 1.6rem;
$baseLinkColor: #fff;
$baseLinkHoverColor: lightgray;

html {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-size: $baseFontSize;
}

a {
  text-decoration: none;
  color: $baseLinkColor;
  font-size: $baseFontSize;
}

a:hover,
a:active {
  color: $baseLinkHoverColor
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


